APScheduler==3.10.4
Bio==1.6.2
biopython==1.81
celery==5.2.3
dash==2.12.1
dash_bio==1.0.2
dash_bootstrap_components==1.4.2
dash_cytoscape==0.3.0
dash_daq==0.5.0
Flask
Flask_Login==0.6.2
Flask_WTF==1.1.1
fuzzywuzzy==0.18.0
graphdatascience==1.7
neo4j==5.2.1
networkx==3.1
pysbolgraph==0.2.0
rdflib==7.0.0
Requests==2.31.0
spacy==3.6.1
SPARQLWrapper==2.0.0
validators==0.21.2
Werkzeug
WTForms==3.0.1
Redis