<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='2_custom.css')}}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if title %}
    <title>Genetta - {{ title }}</title>
    {% else %}
    <title>Genetta </title>
    {% endif %}
</head>

<body style="background-image: url('{{url_for('static', filename='network.jpeg')}}');">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='logo.png')}}" alt="" id="logo_small">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('visualiser') }}">Visualiser</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('graph_metrics') }}">Graph Metrics</a>
                    </li>
                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('graph_admin') }}">Admin Panel</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div id="app" class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='visual.js')}}"></script>
</body>

</html>