{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row min-vh-100">
    
    <div class="col-md-3 col-lg-2 bg-dark text-white shadow d-flex flex-column">
        <h2 class="mb-4">Graph Metrics</h2>
      </div>

    <!-- Main Content Area -->
    <div class="col-12 col-md-9 col-lg-10 py-4 px-5">
      <form method="post" action="">
        <div class="row">
          <div class="col-md-4 mb-4">
            <p>HEY</p>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %}